@model IEnumerable<CmsShoppingCart.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = "Products";
}

@using PagedList.Mvc
@using PagedList

<h2>Products</h2>

<select id="SelectedCategory" name="SelectedCategory">
    <option value="0">All</option>
    @foreach (var item in ViewBag.Categories)
    {
        if (item.Value == ViewBag.SelectedCat)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>
<br /><br />
<p>
    @Html.ActionLink("Ad new product", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            ImageName
        </th>
        <th></th>
    </tr>
    
    @foreach (var product in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>@product.Name</td>

            <td>@product.Slug</td>
 
            <td>@product.Description</td>

            <td>@product.Price</td>

            <td>
                <a href="@Url.Action("EditProduct", "Shop", new { id = product.Id})">
                    <img src="~/Images/Uploads/Products/@product.Id/Thumbs/@product.ImageName" />
                </a>
            </td>

            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = product.Id })
                @Html.ActionLink("Delete", "DeleteProduct", new { id = product.Id }, new { @class = "delete" })
            </td>
        </tr>
    }
    
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Products", new { page, catId = ViewBag.SelectedCat }))

@section scripts {
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <script>
        $("#SelectedCategory").on("change", function () {
            var url = $(this).val();

            if (url) {
                window.location = "Products?catId=" + url;
            }

            return false;
        });

        $("a.delete").click(function () {
            if (!confirm("Biztos törlöd?")) {
                return false;
            }
        });
    </script>
}